
src/Benergy\.Core/bin/Debug/netcoreapp2\.0/

src/Benergy\.Core/obj/

src/Modules/Benergy\.Modules\.Subscription/obj/

src/Modules/Benergy\.Modules\.Subscription/bin/Debug/netcoreapp2\.0/

src/Benergy\.API/bin/Debug/netcoreapp2\.0/

src/Benergy\.API/obj/

\.vscode/

test/Benergy\.Test/obj/

test/Modules/Benergy\.Modules\.Subscription\.Test/obj/

test/Benergy\.Test/bin/Debug/netcoreapp2\.0/

test/Modules/Benergy\.Modules\.Subscription\.Test/bin/Debug/netcoreapp2\.0/
